<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container p-2">
        <a href="https://discord.com/oauth2/authorize?client_id=758059320238931978&scope=bot&permissions=805314622"
            target="_blank">
            <img src="https://cdn.discordapp.com/avatars/758059320238931978/c19aa0e957d6d91d7de026fa61ecce5e.png"
                width="50px" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <ion-icon name="home-outline"></ion-icon> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#skills">
                        <ion-icon name="code-sharp"></ion-icon> Skills
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#redes">
                        <ion-icon name="share-social-outline"></ion-icon> Redes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#musica">
                        <ion-icon name="musical-notes-outline"></ion-icon> Musica
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>