<link rel="stylesheet" href="/css/redes.css">

<div class="redes" id="redes">
    <section class="buttons">
        <a href="https://top.gg/bot/758059320238931978" target="_blank" class="fa-brands fa-discord"></a>
        <a href="https://github.com/mankewhe" target="_blank" class="fa-brands fa-github"></a>
        <a href="https://www.instagram.com/fco.wav/?hl=es-la" target="_blank" class="fa-brands fa-instagram"></a>
        <a href="https://www.reddit.com/user/Mankekito_" target="_blank" class="fa-brands fa-reddit"></a>
        <a href="https://twitter.com/Mankeke10" target="_blank" class="fa-brands fa-twitter"></a>
    </section>
</div>